*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-image: linear-gradient(hsl(212, 40%, 75%),hsl(0, 0%, 100%));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main{
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
}
.code{
    display: flex;
    justify-content: center;
}
.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 16px;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}